<!DOCTYPE html>
<html ng-app="App" >
	<head>
		<title>GiftCards.com - Schedule - Coding Assessment - Front End Developers</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<link href="css/layout.css" rel="stylesheet">
		
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
		<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
		<script src="stats.js"></script>
	</head>
	<body>
		<header>
			<div class="row-fluid">
				<div class="span12">
					<div class="container">
						<div class="row">
							<div class="span8 navigation-container">
								<ul>
									<li><a href="/">Home</a></li>
									<li><a href="/contactus.html">Contact Us</a></li>
									<li><a href="/sponsors.html">Sponsors</a></li>
									<li><a href="/stats.html">Statistics</a></li>
									<li><a href="/team.html">Team</a></li>
								</ul>
							</div>
							<div class="span4 social-icons">
								<span class="icon-facebook icon-2x"></span>
								<span class="icon-twitter icon-2x"></span>
								<span class="icon-google-plus icon-2x"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="container">
			<div class="row">
				<div class="span12">
					<a href="/"><img src="images/logo.png" id="logo" alt="Grizzlies Logo" /></a>
				</div>
			</div>
		</div>
		<div class="container main-body">
			<div class="row">
				<div class="span12">
					<div class="content-padding">
						<h1>Team Statistics</h1>
                        <div class="span3">
                          <span>Filter by text:</span>
                          <input type="text" id="query" ng-model="query" />
                        </div>
                        <div class="span3">
                          <span> Order by: </span>
                          <select ng-model="orderList">
                            <option value="name">Name</option>
                            <option value="number">Number</option>
                            <option value="position">Position</option>
                            <option value="GP">GP</option>
                            <option value="G">G</option>
                            <option value="A">A</option>
                          </select>
                        </div>
                        <div class="span3">
                          <span > Show: </span>
                          <select ng-model="limit">
                            <option value="5">5 per page</option>
                            <option value="10">10 per page</option>
                            <option value="15">15 per page</option>
                            <option value="20">20 per page</option>
                          </select>
                        </div>
						<table class="table table-striped"  ng-controller="StatsCtrl">
                       
							<thead>
								<tr>
									<th> Number</th>
									<th>Name</th>
									<th>Position</th>
									<th>GP</th>
									<th>G</th>
									<th>A</th>
								</tr>
							</thead>
							<tbody>
				  				<tr ng-repeat="stats in stats | filter:query | orderBy:orderList | limitTo:limit ">
									<td> {{stats.number}} </td>
									<td>{{stats.name}}</td>
									<td>{{stats.position}}</td>
									<td>{{stats.GP}}</td>
									<td>{{stats.G}}</td>
									<td>{{stats.A}}</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="row-fluid">
				<div class="span12">
					<div class="container">
						<div class="row">
							<div class="span9 navigation-container">
								<ul>
									<li><a href="/">Home</a></li>
									<li><a href="/contactus.html">Contact Us</a></li>
									<li><a href="/sponsors.html">Sponsors</a></li>
									<li><a href="/stats.html">Statistics</a></li>
									<li><a href="/team.html">Team</a></li>
								</ul>
							</div>

							<div class="span3">
								Pittsburgh Grizzlies<br />
								Console Energy Center<br />
								1001 Fifth Avenue,<br />
								Pittsburgh, PA 15219<br />
								412.642.1800<br />
								info@pghgrizzlies.com<br />
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</body>
</html>
